################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/UI/bin
/UI/obj/Release/Package/PackageTmp/bin
